body {
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white
  ;
}
.header h1 {
  font-family: "Yusei Magic", sans-serif;
  color: #cd212a;
}
.bandeira {
    width: 40px;
    height: 28px;
    margin-right: 20px;
}
.logo {
    width: 200px;
    height: 80px;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 40px;
  margin: 15;
}
.navbar ul a {
  text-decoration: none;
  color: #cd212a;
}
.navitem {
  font-size: 15px;
}
.wrapper {
  width: 100%;
  margin: auto;
}
.italy {
  height: 100vh;
  width: 5%;
  background: linear-gradient(
    to right,
    #008c45,
    #008c45 33.33%,
    white 33.33%,
    white 66.66%,
    #cd212a 66.66%
  );
  position: absolute;
  left: 0;
  top: 0;
}
.italy2 {
  height: 100vh;
  width: 5%;
  background: linear-gradient(
    to right,
    #008c45,
    #008c45 33.33%,
    white 33.33%,
    white 66.66%,
    #cd212a 66.66%
  );
  position: absolute;
  right: 0;
  top: 0;
}
