html {
  margin: 0;
  border: 0;
}

body {
  border: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
}

h1, h2, h3, h4, h5, p, span, a, li {
  font-family: 'Source Sans Pro', sans-serif;
}

ul {
  list-style-type: none;
}

li {
  list-style-image: url(./assets/check_icon.png);
  line-height: 30px;
}
li {
  margin-bottom: 15px;
}
.purple-h1 {
  color: #5b3d9a;
  text-align: center;
  border-bottom: 5px solid #ef1b24;
  font-size: 30px;
}
.purple-h2 {
  color: #5b3d9a;
  border-bottom: 5px solid #ef1b24;
  font-size: 23px;
  width: max-content;
}
.purple-h3 {
  color: #5b3d9a;
  font-size: 19px;

  width: max-content;
  text-align: center;
  align-content: center;
  justify-content: center;
  margin: 10px 0px;
}

header {
  margin: 0.5rem 25vw 0.5rem 25vw;
  border: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.featured {
  height: 62vh;
  background-image: url(./assets/Banner_.png);
  background-repeat: repeat-x;
  background-size: 100vw 62vh ;
}

.featured section {
  margin: 0 25vw 0 25vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.featured section article {
  color: #f8fcfb;
}
.featured section article h1 {
  margin: 0;
  font-size: 28px;
}
.featured section article ul {
  padding-left: 1rem;
}
.featured section article li {
  margin: 5px;
  font-weight: 300;
}

.featured section div {
  height: 32.5rem;
  margin: 1.2rem 0rem 0 1.2rem;
  border-radius: 10px;
  background-color: #f8fcfb;
}

.featured section form {
  margin: 0 1vw 0 1vw;
  display: flex;
  flex-direction: column;
  margin-top: 20px;

}
.featured section form h3, p {
  margin: 0;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.featured section form span {
  line-height: 30px;
}
.featured section form button {
  height: 1.8rem;
  margin: 15px 3.2rem 5px 3.2rem;
  border-radius: 10px;
  border: 1px solid black;

  background-color: #5b3d9a;
  color: white;
}
.about-company {
  background-color: #eeeeee;
}
.about-company div{
  display: flex;
  margin: 0 25vw 0 25vw
  
}
.about-company aside {
  margin-top: 2rem;
  width: 27vw;
}
.about-company p {
  width: 27vw;
  margin-top: 10px;
  text-align: justify;
  line-height: 30px;
}
.about-company img {
  width: 26.5vw;
  height: 24vw;
}
.about-company img, aside{
  transform: translateX(-3rem);
}
.about-services article {
  margin: 0 25vw 0 25vw
}
.about-services article div {
  display: flex;
}
.about-services article div img {
  width: 50%;
  height: 50%;
  transform: translateY(-35px);
}
.about-services article div p, .about-services article p {
  text-align: justify;
  align-self: flex-start !important;
  line-height: 35px;
}

.benefits {
  display: flex;
  flex-direction: column;
  margin: 2rem 25vw 0 25vw;
  height: 21vh;

  border-radius: 10px;

  background-color: #eeeeee;
}
.benefits h2, .benefits ul {
  margin: 10px;
}
.benefits button {
  padding: 10px;
  width: 50rem;

  align-self: center;

  background-color: #5b3d9a;
  color: #f8fcfb;
  border-radius: 5px;

  font-weight: 600;
  font-size: 15px;
}

.services {
  margin: 2rem 25vw 0 25vw;
  display: flex;
  flex-direction: column;
}
.services button {
  padding: 10px;
  width: 10rem;
  margin: 10px;

  align-self: center !important;

  background-color: #5b3d9a;
  color: #f8fcfb;
  border-radius: 5px;
  border: 0;

  font-weight: 600;
  font-size: 15px;
}
.item-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.item-grid article {
  display: flex;
  flex-direction: column;
  flex: 1;

  border: 1px solid grey;

  align-items: center;

  margin: 10px;
  border-radius: 5px;
}
.item-grid img {

  margin-top: 10px;
}
.item-grid article p {
  max-width: 22rem;
  margin: 5px 10px;
}
.services div h4 {
  align-self: center;
}
.services h4{
  align-self: center;
}
footer {
  background-color: #eeeeee;
  height: 8vh;
  margin-top: 1.5rem
}
footer div {
  margin: 1rem 25vw 0 25vw;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.media-logo {
  width: 1.5rem;
  height: 1.5rem;
}
.extreme-logo {
  width: 137px;
  height: 29px;

  align-self: center;
}
.copyright {
  padding: 15px;
  background-color: #3b2b6e;
  color: white;
  font-size: 13px;
}